<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="card bg-primary">
        <div class="card-body text-white">
          <h4 class="card-title">{{ joke.value }}</h4>
          <p>
            <small>{{ joke.updated_at | date }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
