<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <button
        (click)="getCategorys()"
        class="btn-sm btn-warning"
        *ngIf="isLoaded"
      >
        Choose new
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto my-2">
      <div *ngFor="let category of categorys" class="list-group">
        <button
          *ngIf="!isLoaded"
          (click)="getJokeByCategory(category)"
          class="list-group-item list-group-item-action"
        >
          {{ category }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto my-2">
      <app-cat-joke
        [categoryJoke]="categoryJoke"
        *ngIf="isLoaded"
      ></app-cat-joke>
    </div>
  </div>
</div>
