<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" [routerLink]="'.'">Day 1 of 100</a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://api.chucknorris.io/"
            (click)="isMenuCollapsed = true"
            >Chuck Norris</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 mx-auto my-2">
      <button
        type="button"
        name=""
        id=""
        class="btn btn-success btn-block"
        (click)="getJokes()"
      >
        Generate a random joke
      </button>
    </div>
    <div class="col-sm-12 col-md-6 mx-auto my-2">
      <button
        type="button"
        name=""
        id=""
        class="btn btn-primary btn-block"
        (click)="getCategorys()"
      >
        Choose a category joke
      </button>
    </div>
  </div>
</div>

<app-random *ngIf="!isLoading" [joke]="randomJoke"></app-random>

<app-category [categorys]="categorys" *ngIf="showCategory"></app-category>
